h2 {
    color: black;    
}

/* Header Bild */  

img {
    text-align: left;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

<<<<<<< HEAD
.dropshadow {
    -webkit-box-shadow: 2px 10px 13px -9px rgba(105, 105, 105, 0.6);
    box-shadow: 2px 10px 13px -9px rgba(105, 105, 105, 0.6);
}
=======
/* Navigation Header */

.topnav {
    overflow: hidden;
    float: right;
 }

 .topnav a {
    float: left;
    display: block;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 14px;
    color: black;
}

.topnav a:hover {
    color: #333;
}

.topnav li {
    list-style-type: none;
}
>>>>>>> 6fa73221e01af5f7921111d657c66e1ca71cfa62
